<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Blue Book"
        android:roundIcon="@drawable/openai"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo_Android"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SharedActivity"
            android:exported="false"
            android:label="我的分享"/>
        <activity
            android:name=".CollectedActivity"
            android:exported="false"
            android:label="我的收藏"/>
        <activity
            android:name=".LikedActivity"
            android:exported="false"
            android:label="我的喜欢"/>
        <activity
            android:name=".SavedActivity"
            android:exported="false"
            android:label="分享保存"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Demo_Android" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label=""
            android:resizeableActivity="true"
            android:theme="@style/Theme.Demo_Android.NoActionBar"
            tools:targetApi="24" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>